<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAF-Competición</title>
    <%- include('partials/headLinks.ejs') %>
        <link rel="stylesheet" href="css/competicion.css">
</head>

<body>
    <%- include('partials/header.ejs') %>
        <main>
            <div id="tablas" class="container">
                <div class="row">
                    <div class="col-md-12" style="overflow-x:auto;">
                        <h2>Clasificación</h2>
                        <table id="tablaEquipos" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Posicion</th>
                                    <th>Equipo</th>
                                    <th>Puntos</th>
                                    <th>Jugados</th>
                                    <th>Ganados</th>
                                    <th>Empatados</th>
                                    <th>Perdidos</th>
                                    <th>GF</th>
                                    <th>GC</th>
                                    <th>DG</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% let posicion=1; %>
                                    <% equipos.forEach(function(equipo) { %>
                                        <tr>
                                            <td>
                                                <%= posicion %>
                                            </td>
                                            <td>
                                                <img src="/<%= equipo.fotoescudourl %>" alt="Escudo del equipo"
                                                    width="25" height="25">
                                                <%= equipo.nombreEquipo %>
                                            </td>
                                            <td>
                                                <%= equipo.totalPuntos %>
                                            </td>
                                            <td>
                                                <%= equipo.jugados %>
                                            </td>
                                            <td>
                                                <%= equipo.ganados %>
                                            </td>
                                            <td>
                                                <%= equipo.empatados %>
                                            </td>
                                            <td>
                                                <%= equipo.perdidos %>
                                            </td>
                                            <td>
                                                <%= equipo.golesFavor %>
                                            </td>
                                            <td>
                                                <%= equipo.golesContra %>
                                            </td>
                                            <td>
                                                <%= equipo.diferenciaGoles %>
                                            </td>
                                        </tr>
                                        <% posicion++; %>
                                            <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="overflow-x:auto;">
                        <div class="row">
                            <div class="col-md-7">
                                <h2>Jugadores</h2>
                                <div class="row">
                                    <div class="col-md-4">
                                        <h4>Goles</h4>
                                        <table class="table">
                                            <thead class="table-dark">
                                                <tr>
                                                    <th>Pos</th>
                                                    <th>Nombre</th>
                                                    <th>G</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tabla-body">
                                                <% jugadoresGoles.slice(0, 3).forEach((jugador, index)=> { %>
                                                    <tr>
                                                        <td>
                                                            <%= index + 1 %>
                                                        </td>
                                                        <td>
                                                            <img src="/<%= jugador.fotojugadorurl %>"
                                                                alt="Foto del jugador" width="25" height="25">
                                                            <%= jugador.nombre %>
                                                        </td>
                                                        <td>
                                                            <%= jugador.goles %>
                                                        </td>
                                                    </tr>
                                                    <% }) %>
                                            </tbody>
                                        </table>

                                        <h4>Asistencias</h4>
                                        <table class="table">
                                            <thead class="table-dark">
                                                <tr>
                                                    <th>Pos</th>
                                                    <th>Nombre</th>
                                                    <th>Ass</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tabla-body">
                                                <% jugadoresAsistencias.slice(0, 3).forEach((jugador, index)=> { %>
                                                    <tr>
                                                        <td>
                                                            <%= index + 1 %>
                                                        </td>
                                                        <td>
                                                            <img src="/<%= jugador.fotojugadorurl %>"
                                                                alt="Foto del jugador" width="25" height="25">
                                                            <%= jugador.nombre %>
                                                        </td>
                                                        <td>
                                                            <%= jugador.asistencias %>
                                                        </td>
                                                    </tr>
                                                    <% }) %>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-md-2">
                                        <div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <h4>Amarillas</h4>
                                        <table class="table">
                                            <thead class="table-dark">
                                                <tr>
                                                    <th>Pos</th>
                                                    <th>Nombre</th>
                                                    <th>TA</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tabla-body">
                                                <% jugadoresTa.slice(0, 3).forEach((jugador, index)=> { %>
                                                    <tr>
                                                        <td>
                                                            <%= index + 1 %>
                                                        </td>
                                                        <td>
                                                            <img src="/<%= jugador.fotojugadorurl %>"
                                                                alt="Foto del jugador" width="25" height="25">
                                                            <%= jugador.nombre %>
                                                        </td>
                                                        <td>
                                                            <%= jugador.ta %>
                                                        </td>
                                                    </tr>
                                                    <% }) %>
                                            </tbody>
                                        </table>
                                        <h4>Rojas</h4>
                                        <table class="table">
                                            <thead class="table-dark">
                                                <tr>
                                                    <th>Pos</th>
                                                    <th>Nombre</th>
                                                    <th>TR</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tabla-body">
                                                <% jugadoresTr.slice(0, 3).forEach((jugador, index)=> { %>
                                                    <tr>
                                                        <td>
                                                            <%= index + 1 %>
                                                        </td>
                                                        <td>
                                                            <img src="/<%= jugador.fotojugadorurl %>"
                                                                alt="Foto del jugador" width="25" height="25">
                                                            <%= jugador.nombre %>
                                                        </td>
                                                        <td>
                                                            <%= jugador.tr %>
                                                        </td>
                                                    </tr>
                                                    <% }) %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="slide-container">
                                    <h2 class="slide-title">Calendario</h2>
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <div class="card">
                                                <div class="card-header">Jornada 1</div>
                                                <div class="match">Equipo 1 vs Equipo 2</div>
                                                <div class="match">Equipo 3 vs Equipo 4</div>
                                                <div class="match">Equipo 5 vs Equipo 6</div>
                                                <div class="match">Equipo 7 vs Equipo 8</div>
                                                <div class="match">Equipo 9 vs Equipo 10</div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--<button class="carousel-control-prev" type="button"
                                        data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button"
                                        data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>-->
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </main>
        <%- include('partials/footer.ejs') %>
            <script src="../js/competicion.js"></script>

</body>

</html>