<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAF-Equipos</title>
    <%- include('partials/headLinks.ejs') %>
</head>

<body>
    <%- include('partials/header.ejs') %>
        <main>
            <div class="container">
                <div class="row">
                    <% equipos.forEach((equipo) => { %>
                      <div class="col-3">
                        <div class="card mb-3">
                            <img src="/<%= equipo.fotoescudourl %>" class="card-img-top" alt="Escudo">
                          <div class="card-body">
                            <h5 class="card-title"><%= equipo.nombreEquipo %></h5>
                            <p class="card-text"><strong>Color Camiseta:</strong> <%= equipo.colorCamiseta %></p>
                            <p class="card-text"><strong>Color Camiseta 2:</strong> <%= equipo.colorCamiseta2 %></p>
                            <p class="card-text"><strong>Dirección del Campo:</strong> <%= equipo.direcionCampo %></p>
                          </div>
                        </div>
                      </div>
                    <% }); %>
                  </div>
            </div>


        </main>
        <%- include('partials/footer.ejs') %>
            <script src="../js/equipos.js"></script>
</body>

</html>